@import 'base';
@import 'custom-style';

// Importing Components
@import 'components/**/*.scss';


/* -------------------------------------------------------------------------- */
/*                                   Global                                   */
/* -------------------------------------------------------------------------- */
// Vars 
$primary: #fec301;

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
:focus {
    outline: 0;
}

.icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--color-accent-darker);
}

::selection {
    background: var(--color-primary);
}

// Scrollbar
::-webkit-scrollbar {
    display: none;
    // width: 7px;
}

// ::-webkit-scrollbar-track {
//     background-color: var(--color-accent-lighter);
// }

// ::-webkit-scrollbar-thumb {
//     background: var(--color-primary);
// }

// ::-webkit-scrollbar-thumb:hover {
//     background: var(--color-accent);
// }

// Body
body {
    overflow-x: hidden;
}

/* -------------------------------------------------------------------------- */
/*                                Progress Bar                                */
/* -------------------------------------------------------------------------- */
.progress-bar {
    position: fixed;
    right: 0;
    width: 7px;
    background-color: var(--color-primary);
    z-index: 10;
    border-radius: 0 0 15px 15px;
    transition: background-color 1.7s ease-out, width .7s ease-out, box-shadow 1.7s;
}

/* -------------------------------------------------------------------------- */
/*                                   Loader                                   */
/* -------------------------------------------------------------------------- */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $primary;
    z-index: 10;
    display: flex;
    align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
.header {
    height: auto;
    position: fixed;
    padding: 1.5em 0;
    font-size: .7em;
    background-color: transparent;
    transition: padding .5s;
    z-index: 9;
    .header__logo {
        @include breakpoint(xxs) {
            font-size: 1.1rem;
        }

        @include breakpoint(sm) {
            font-size: 1.4rem;
        }

        @include breakpoint(md) {
            font-size: 1.9rem;
        }

        @include breakpoint(xl) {
            font-size: 2.3rem;
        }
    }

    .header__nav {

        li {
            a {
                transition: color .5s ease;

                @include breakpoint(xxs) {
                    color: var(--color-accent-darker);
                }

                @include breakpoint(md) {
                    color: var(--color-white);
                }
            }

            a:hover {
                color: var(--color-primary);
            }

            a.active {
                color: var(--color-primary);
            }
        }
    }

}

.header.scroll {
    background-color: var(--color-white);
    transition: padding 1s, background-color .5s;
    @include breakpoint(lg) {
        padding: .2em 0;
    }
    .logo,
    ul li a {
        color: var(--color-black);
    }
}

/* -------------------------------------------------------------------------- */
/*                                    Hero                                    */
/* -------------------------------------------------------------------------- */

.hero {

    position: relative;

    &__bg {
        position: absolute;
        height: 100%;
        width: 100%;

        &--overlay {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: darken(transparentize($primary, .4), 35%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: overlay;
        }

        &--video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
   }

    .hero__content {
        >* {
            padding-bottom: var(--space-xxxs);
        }

        a {
            padding: .7em 1em;

            &:hover {
                background-color: darken($primary, $amount: 5%);
            }
        }
    }

}

/* -------------------------------------------------------------------------- */
/*                                  SERVICES                                  */
/* -------------------------------------------------------------------------- */

.services {
    position: relative;
    @include breakpoint(xxs) {
        height: 100%;
    }

    @include breakpoint(lg) {
        // height: 100vh;
    }

    @include breakpoint(xl) {
        height: auto;
    }

    h4 {
        color: var(--color-accent);
    }

    [class*="col"] {
        @include breakpoint(xxs) {

            p,
            h3 {
                padding: var(--space-xxxxs) 0;
            }
        }
    }
}


/* -------------------------------------------------------------------------- */
/*                                  PORTFOLIO                                 */
/* -------------------------------------------------------------------------- */

.portfolio {
    &__items {
        display: flex;
        flex-wrap: wrap;

        .portfolio__item {
            position: relative;
            overflow: hidden;
            max-height: 85vh;

            @include breakpoint(xxs) {
                width: 100%;
                margin-bottom: 1rem;
            }

            @include breakpoint(sm) {
                width: calc(50% - 1rem);
                margin-right: .5rem;
                margin-left: .5rem;
            }

            @include breakpoint(md) {
                width: calc(33.33% - 2rem);
                margin-right: 1rem;
                margin-left: 1rem;
            }

            .heart {
                position: absolute;
                opacity: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: transparentize($primary, .15);
                transition: opacity .5s ease-in;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                i {
                    opacity: 0;
                    font-size: 50px;
                    color: var(--color-accent);

                    transform: scale(.2);
                    transition: opacity 1s, transform 1s;
                }
            }

            a {
                
                img {
                    height: auto;
                    width: 100%;
                    object-fit: cover;
                    transition: transform 3s;
                }
            }

            &:hover {
                img {
                    transform: scale(1.4);
                }

                .heart {
                    opacity: 1;

                    i {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                  ABOUT                                     */
/* -------------------------------------------------------------------------- */

.about {
    &__item {
        font-size: .7em;
        display: flex;

        .txt {
            flex: 1;
            padding-top: var(--space-xxs);
        }

        &:not(:last-child) {
            .circle::after {
                content: " ";
                position: absolute;
                bottom: -50%;
                left: 50%;
                height: 60%; 
                width: 2px;
                background-color: var(--color-accent);
                z-index: 1;
            }
        }

        &:last-child {
            .circle {
                border: 10px solid var(--color-contrast-lower);
                background-color: var(--color-primary);
                border-radius: 50%;
                position: relative;
                p {
                    position: relative;
                    color: var(--color-accent-darker);
                    top: 50%;
                    bottom: 50%;
                    transform: translateY(-50%);
                    @include breakpoint(xxs) {
                        font-size: .6em;
                    }
                    @include breakpoint(sm) {
                        font-size: inherit;
                    }
                }
            }
        }

        .circle {
            position: relative;
            margin: 0 20px;
            z-index: 5;
            @include breakpoint(xxs) {
                order: -1;
                width: 70px;
                height: 70px;
            }
            @include breakpoint(sm) {
                order: 0;
                width: 120px;
                height: 120px;
            }
            img {
                position: relative;
                width: 100%;
                height: 100%;
                border: 10px solid var(--color-contrast-lower);
                border-radius: 50%;
                z-index: 5;
                object-fit: cover;
                
               

            }
        }

        .spacer {
            flex: 1;
            @include breakpoint(xxs) {
                display: none;
            }
            @include breakpoint(sm) {
                display: initial;
            }
        }
        &:nth-child(even) {
            @include breakpoint(xxs) {
                text-align: unset;
            }
            @include breakpoint(sm) {
                text-align: right;
            }
        }
    }  
}


/* -------------------------------------------------------------------------- */
/*                                    TEAM                                    */
/* -------------------------------------------------------------------------- */

.team {
    background: url('../img/rain.svg');
    &__content {
        .alternate {
            animation-name: flashy;
            animation-iteration-count: infinite;
            animation-duration: 100ms;

            @keyframes flashy {
                0% {
                    color: var(--color-primary);
                }
                100% {
                    color: var(--color-white);
                }
            }
        }
    }
    &__item {
        overflow: hidden;
        color: var(--color-primary);
        font-size: .7em;
        padding: 15px 0;
        margin-bottom: 2.5em;
        transition: box-shadow 1s;
        border-radius: 6px;
        filter: grayscale(80%);
        opacity: .7;
        transition: filter 1s opacity 1s;
        &:hover {
            box-shadow: 0px 0px 50px 7px transparentize($primary, .1);
            filter: grayscale(0%);
            opacity: 1;
        }

        > * {
            margin: .35em 0;
        }
        img {
            border-radius: 50%;
            width: 130px;
            height: 130px;
            transition: transform 1s;
            @include breakpoint(xs) {
                width: 90px;
                height: 90px;
            }
            @include breakpoint(sm) {
                width: 130px;
                height: 130px;
            }
            object-fit: cover;
        }
        &:hover {
            img {
                transform: rotate(-40deg);
            } 
        }
        p {
            color: inherit;
            font-size: .7em;
        }
        
        &__socials {
            i {
                margin: 0 .3em;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                   CONTACT                                  */
/* -------------------------------------------------------------------------- */
.contact {
    background-color: var(--color-accent-darker);
    background-image: url('../img/contact-bg.png');
    background-position: center;
    color: var(--color-primary);

    &__form {
        font-size: .7em;
        padding: 0 1em;
        input {
            width: 100%;
            padding: 15px;
        }
        input:not(:last-child) {
            margin-bottom: 1em;
        }
        input:focus, textarea:focus {
            border: 3px solid var(--color-primary);
        }
        button[type="submit"] {
            &:hover {
                background-color: darken($primary, 5%);
            }
        }
        textarea {
            width: 100%;
            height: 240px;
            padding: 15px;
        }
        input, textarea {
            color: var(--color-accent-darker);
            border-radius: 6px;
            background-color: transparentize(white, 0.3);
        }
        
        // Form states
        .validated {
            input:valid, textarea:valid {
                border: 3px solid var(--color-success);
            }
            input:invalid, textarea:invalid {
                border: 3px solid var(--color-error);
            }
        }    
    }
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
.footer {
    background-color: white;
    font-size: 1rem;
    color: black;
    padding: 1rem 0;
}